@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

// Fonts
$font-family: 'DM Sans', sans-serif;
$weightRegular: 400;
$weightMedium: 500;
$weightBold: 700;

// Colors
$black: #222831;
$gray: #393e46;
$yellow: #ffd369;
$white: #eeeeee;
