@import './styles/variables';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: $font-family;
  font-weight: $weightRegular;
}

body {
  background-color: $black;
  color: $gray;
}

h1 {
  font-size: 40px;
  color: $yellow;
}
